.editor-container {
  min-height: 200px;
}

aside.item-type {
  font-weight: bold;
  font-size: 1.2em;
  flex: 0 0 auto;
  align-self: center;
}

.header-fields {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.item-name {
  flex: 1;
  margin: 0;

  input[type="text"] {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
