.sheet {
  @import "sheet.less";
}

.fs4-chat-message {
  @import "chat.less";
}

section.table {
  width: 100%;
  display: table;

  header {
    font-weight: bold;
    background-color: var(--color-header-background);
  }

  .table-col {
    display: table-cell;
  }

  .table-col.truncate {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }


  // only odd rows
  .table-row:nth-child(odd) {
    background-color: var(--color-text-selection-bg);
  }
}

section.table>* {
  display: table-row;
}
