<div class="item">
    <div class="linked-item" data-identifier="{{identifier}}" data-action="editLinkedItem" title="{{name}}">
        <input type="text" value="{{name}}"
            {{#if i18nKey }}placeholder="{{ localize i18nKey }}"{{/if}}
            readonly
        />
    </div>
</div>
