<div class="item" data-identifier="{{identifier}}">
    <div class="linked-item">
        <input type="text" value="{{name}}"
            {{#if i18nKey }}placeholder="{{ localize i18nKey }}"{{/if}}
            readonly
        />
    </div>
</div>
