<header class="sheet-header">
    <div class="header-fields">
        <h1 class="document-name">
            <input name="name" type="text" value="{{document.name}}" placeholder="Name" />
        </h1>
        <aside class="document-type">{{documentType}}</aside>
    </div>
</header>
