<header class="sheet-header">
    <div class="header-fields">
        <h1 class="item-name">
            <input
                name="name"
                type="text"
                value="{{item.name}}"
                placeholder="Name"
            />
        </h1>
        <aside class="item-type">{{itemType}}</aside>
    </div>
</header>
