<section class="tab  {{tabs.notes.cssClass}}" data-group="{{tabs.notes.group}}" data-tab="notes">
    <div class="tab-content">
        <prose-mirror
            class="large"
            name="system.notes"
            value="{{notes}}"
            toggled
        >
            {{{notes}}}
        </prose-mirror>
    </div>
</section>
