<section class="tab  {{tabs.notes.cssClass}}" data-group="{{tabs.notes.group}}" data-tab="notes">
    <div class="tab-content">
        {{> "fs4.editor"
            name="system.notes"
            value=notes
        }}
    </div>
</section>
