<div class="scrollable">
    <h2>{{ localize "fs4.affliction.fields.preconditions" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            {{> "fs4.editor"
                name="system.preconditions"
                value=preconditions
            }}
        </div>
    </div>

    <hr />

    {{> "fs4.description" description=description}}

    <hr>

    <h2>{{ localize "fs4.affliction.fields.effects" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            {{> "fs4.editor"
                name="system.effects"
                value=effects
                large=true
            }}
        </div>
    </div>
</div>
