<div class="scrollable tab-main">
    <div class="form-group">
        <div class="form-fields">
            <select name="system.type">
                {{selectOptions
                    types
                    selected=system.type
                    valueAttr="value"
                    labelAttr="name"
                }}
            </select>
        </div>
    </div>

    {{> "fs4.description" description=description}}
</form>
